* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightskyblue;
    height: 100vh;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50%;
    padding: 3%;
    gap: 2em;
}

.card {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: rgb(184, 224, 237);
    border: solid white;
    width: 15em;
    height: 20em;
    border-radius: 8px;
    
    
}

.card:hover {

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: rgb(184, 224, 237);
    border: solid white;
    width: 15em;
    height: 20em;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 2px darkblue;
}

.text {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: smaller;
    padding: 5px;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    font-weight: bold;
}

img {
    height: 50px;
}

.button {
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    text-decoration: none;
    color: darkblue;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;

}

.divider {
    border-bottom: 2px solid blue;
    color: rgb(184, 224, 237);
}


.button:hover {
    background-color: rgb(71, 191, 231);
    box-shadow: 4px 4px 5px 1px darkblue;
}

.sidebar {
    float: left;
    background-color: lightcyan;
    height: 100vh;
    width: 15vw;
    text-align: center;
    padding: 2%;
    display: flex;
}

ul {
    padding-left: 40%;
    padding-top: 20%;
    list-style-type: none;
}

li {
    padding-top: 50%;
    font-family: 'Open Sans', sans-serif;
    border-radius: 8px;

}


.header {
    font-weight: bolder;
    font-size: larger;
    font-family: 'Open Sans', sans-serif;
}

.navlink {
    text-decoration: none;
}

.navlink:hover {
    color: darkblue;
}

